.topContent header {
	margin-bottom: 5%;
}

.topContent header h1 {
	margin-bottom: 5%;
}

h1 {
	color: #7ABFA5;
	padding-left: 0;
}

h2, p {
	font-family: 'Josefin Sans', sans-serif;
}

hr {
	width: 100%;
}


#map {
	margin: 0 auto;
}

.contact-details {
	font-size: 1.5em;
	margin-top: 60px;
	margin-bottom: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {

	.topContent {
		margin: 0 auto
	}

	.topContent header {
	margin-top: 25%;
}


}