body {
	overflow-x: hidden;
}

.body {
	margin: 0 auto;
	width: 90%;
}

h1 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 1%;
}

.main-header img {
	width: 100%;
	height: auto;
	margin-top: 5%;
}

.welcome span .image-overlay {
	height: auto;
}

.welcome .image-wrapper .image-overlay {
	position: absolute;
	height: 200px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #FFF;
}

.welcome .image-wrapper .image-overlay .content {
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 28%;
	margin-left: 15%;
	height: 150px;
	padding-top: 0.66%;
	text-align: center;
	width: 70%;
	font-size: 7.5em;
	font-weight: 400;
	color: #FFF;
	border: solid 5px #FFF;
}

.main-header nav {
	margin-top: 25px;
	background-color: #7ABFA5;
	height: 53px;
}

.main-header nav ul {
	list-style: none; /*removes bullet points*/
	margin: 0 auto;
	padding-left: 13.34%;
}

.main-header nav ul li {
	float: left;
	display: inline;
	width: 16.9%;
	text-align: center;
}

.main-header nav a:link, .main-header nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 15px 0px;
	height: 53px; /* add height here so the background color detailed below fits perfectly in the nav bar*/
	text-decoration: none;
}

.main-header nav a:hover, .main-header nav a:active, 
.main-header nav .active a:link, .main-header nav .active a:visited {
	background-color: #FFF;
	text-shadow: none;
	text-decoration: none;
	width: 100%;
	color: #7ABFA5;
}

.mainContent {
	line-height: 25px;
}

.content {
	margin-top: 0%;
}

.topContent {
	text-align: center;
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 100px;
	height: auto;
}

.topContent header h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #7ABFA5;
	height: 75px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 8%;
	line-height: 27px;
	padding-bottom: 0%;
}

.topContent p {
	font-size: 1.25em;
	line-height: 2em
}

/* start of new bottom content styles */

.bottomContent#index-page {
	padding-left: 0px;
	padding-right: 0px;
	background-color: #7ABFA5;
	color: #FFF;
	width: 100%;
	height: auto;
}

.main-page {
	padding-top: 100px;
}

.bottomContent {
	margin-top: 5%;
	text-align: center;
}

.bottomContent #photosContent, #contactContent, #workContent, #faqContent {
	height: 450px;
}

.bottom-styles .image-wrapper {
	position: relative;
	height: 400px;
	width: 400px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
}

#photos.image-wrapper {
	background-image: url('../img/James+dogs.jpg');
}

#contact.image-wrapper {
	background-image: url("../img/contact-photo.jpg");
}

#faq.image-wrapper {
	background-image: url("../img/faq.jpg");
}

#photos, #contact, #faq.image-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

#faq.image-wrapper img {
	height: auto;
	width: 160%;
}

.bottom-styles .image-wrapper .image-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #FFF;

}

.bottom-styles .image-wrapper:hover .image-overlay {
	display: block;
	background-color: rgba(255, 255, 255, .3);
}

.bottom-styles .image-wrapper .image-overlay .content {
	position: absolute;
	top: 50%;
	left: 25%;
	height: 20px;
	width: 350px;
	margin-top: -10px;
	margin-left: -75px;
	font-size: 5em;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300
}

/* end of new bottom content styles */

hr {
	width: 80%;
}

.mainFooter {
	width: 100%;
	height: 60px;
	float: left;
	background-color: #FFF;
}

.mainFooter p {
	width: 92%;
	margin: 25px auto;
	color: #7ABFA5;
	font-family:; arial;
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 400;
}

.mainFooter a {
	text-decoration: none;
	color: #FFF;
}

/*media queries*/
 

@media only screen and (min-width: 681px) and (max-width: 940px) {

	.welcome .image-wrapper .image-overlay .content {
	font-size: 5.5em;
	padding-top: 2.66%;
	}


}

@media only screen and (min-width: 581px) and (max-width: 680px) {

	.welcome .image-wrapper .image-overlay .content {
	font-size: 4.5em;
	padding-top: 3.66%;
	}


}

@media only screen and (min-width: 481px) and (max-width: 580px) {

	.welcome .image-wrapper .image-overlay .content {
	font-size: 3.5em;
	padding-top: 5.66%;
	}

}

@media only screen and (min-width: 401px) and (max-width: 560px) {

	.bottomContent #photosContent, #contactContent, #workContent, #faqContent {
		height: 350px;
	}

	.bottom-styles .image-wrapper {
		height: 300px;
		width: 300px;
	}


	.bottom-styles .image-wrapper .image-overlay .content {
		left: 30%;
		width: 250px;
		font-size: 4em;
	}

}

@media only screen and (min-width: 320px) and (max-width: 400px)  {

	.main-page {
	padding-top: 50px;
	}

	.bottomContent #photosContent, #contactContent, #workContent, #faqContent {
		height: 300px;
	}

	.bottom-styles .image-wrapper {
		height: 250px;
		width: 250px;
	}


	.bottom-styles .image-wrapper .image-overlay .content {
		left: 40%;
		width: 200px;
		font-size: 3em;
	}

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

	.welcome .image-wrapper .image-overlay .content {
	font-size: 2.5em;
	padding-top: 5.66%;
	height: 100px;
	margin-top: 20%;
	}

}

@media only screen and (min-width: 150px) and (max-width: 600px) {

	.body {
		width: 95%;
	}

	.main-header nav {
		height: 265px;
		padding-left: 0;
	}

	.main-header nav ul {
		padding-left: 0%;
	}

	.main-header nav ul li {
		width: 100%;
		text-align: center;
	}

	.main-header nav a:hover, .main-header nav a:active, 
	.main-header nav .active a:link, .main-header nav .active a:visited {
		width: 100%;
	}

	.topContent p {
		font-size: 1.25em;
		line-height: 2em
	}

}
