.showTeamHeader {
    padding-bottom: 40px;
}

.summary-text-left.partA {
    margin-top: 5%;
}

.summary-text-left.partC {
    margin-top: 2%;
}

.summary-text-left .summaryContainer {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    background-color: #2b949d;
    color: #FFF;
    min-height: 250px;
    width: 90%;
    margin: 0 auto;
}

.summary-text-left .summaryContainer h3 {
    padding-top: 12%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.summary-text-left h4 {
    font-size: 16px;
}

.summary-text-right .summaryContainer {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    background-color: #2b949d;
    color: #FFF;
    min-height: 250px;
    width: 85%;
}

.summary-text-right.partB {
    margin-top: 3%;
}

.summary-text-right .summaryContainer h3 {
    padding-top: 12%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.summary-text-right h4 {
    font-size: 16px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.carousel {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.carousel-caption {
    right: 0%;
    bottom: 0px;
    left: 0%;
    padding-bottom: 30px;
    background-color: rgba(43, 148, 157, 0.5);
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-inner>.item>img {
    width: 972px;
}